* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

textarea{
    color: red;
}


button{
    margin: 0.5em 0;
	padding: .8em 2.2em;
    background: red;
	border: none;
	border-radius: .4em;
}
